
<html>
<head>
</head>
<body bgcolor="#ffffff">
<table>
    #foreach( $question in $questions )
        <tr>
            <th>Question</th>
            <th>Question Customer</th>
            <th>Answer</th>
            <th>Answer Customer</th>
        </tr>
        #foreach ($question in ${ctx.questions})
            <tr>
                <td>$question.question</td>
                <td>$question.questionCustomer</td>
                <td>$question.answer</td>
                <td>$question.answerCustomer</td>
            </tr>
        #end
    #end
</table>
</body>
</html>